{% extends "layout.html" %}
{% from "_game.html" import fmt_game %}

{% macro game_checkbox(game) %}
<input
    type="checkbox"
    name="vote"
    id="game-{{ game.id }}"
    value="{{ game.id }}"
    {% if game.id in votes -%}
        checked
    {% endif -%}
    />
{% endmacro %}

{% block content %}

<h3>Hello, {{ who }} (<a href="{{ url_for('logout') }}">log out</a>)</h3>

<form method="POST">

<table border="1">
<thead>
<tr>
    <td>Game</td>
    <td>My Vote</td>
</tr>
</thead>
<tbody>
{% for game in games %}
<tr>
    <td><label for="game-{{ game.id }}">{{ fmt_game(game) }}</label></td>
    <td>{{ game_checkbox(game) }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<p><input type="submit" value="Submit"/></p>

</form>

{% endblock %}
